.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C4C4C4;
}

.menu {
    width: 400px;
    min-height: 100vh;
    background-color: #FFF;
}

.conteudo {
    width: 100%;
    min-height: 100vh;
    background-color: #F0F2F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo img {
    width: 300px;
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color: #BE1A2B;
    width: 100%;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
}

.cabecalhoContainer {
    display: flex;
    align-items: center;
}

.cabecalho .icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #B44FC5;
    justify-content: center;
    color: #FFF;
    font-weight: 500;
}

.cabecalho img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(146deg) brightness(103%) contrast(101%);
    width: 25px;
    cursor: pointer;
}

.cabecalhoItem {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown:hover .subMenu {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 12px;
    font-size: 18px;
    justify-content: space-evenly;
    align-items: center;
}

.subMenu {
    display: none;
}

.subMenu a {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
}

.subMenu a:hover {
    background-color: rgb(240, 240, 240);
}

.nome {
    color: #FFF;
    font-size: 18px;
}

.cargo {
    color: #FFF;
    font-size: 12px;
}

.pesquisar {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #CCC;
}

.pesquisar input {
    width: 95%;
    height: 30px;
    border-radius: 9%;
    border: 3px solid #C1C1C1;
}

.pesquisar hr {
    width: 100%;
}

.membro {
    cursor: pointer;
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    display: flex;
    flex-direction: row;
}

.membro div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2px;
}

.membro .nomeMembro {
    font-size: 18px;
}

.membro .status {
    font-size: 12px;
}

.membro .icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BE1A2B;
    text-align: center;
    color: #FFF;
    font-weight: 500;
}

.equipesTrabalhando {}

.equipesTrabalhando label {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}

.membros {}

.membros label {
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}

.conteudoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.esquerda {
    width: 260px;
    height: 490px;
    border-radius: 10px;
    background-color: #FFF;
    filter: drop-shadow(1px 5px 5px rgb(36, 36, 36));
    border: 1px solid #C1C1C1;
}

.esquerda .rota {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    overflow-y: scroll;
    height: 490px;
}

.rota::-webkit-scrollbar {
    display: none;
}

.rota .rotaItem {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 150px;
    cursor: pointer;
}

.iconeRealizado {
    height: 100%;
    display: flex;
    align-items: center;
}

.iconeRealizado img {
    width: 40px;
    filter: invert(13%) sepia(66%) saturate(6866%) hue-rotate(348deg) brightness(80%) contrast(87%);
}

.iconeAndamento {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: -3px;
}

.iconeAndamento img {
    width: 40px;
    filter: invert(13%) sepia(66%) saturate(6866%) hue-rotate(348deg) brightness(80%) contrast(87%);
}

.rotaContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rota .horario {
    font-size: 12px;
    color: #808080;
}

.divisoriaContainer {
    width: 100%;
    padding: 0px 49px;
}

.divisoria {
    height: 40px;
    width: 3px;
    background-color: #BE1A2B;
}

.direita {
    width: 470px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.direita .cliente {
    width: 470px;
    height: 160px;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(1px 5px 5px rgb(36, 36, 36));
    border: 1px solid #C1C1C1;
}

.cliente .horario {
    color: #6F6F6F;
    font-size: 21px;
    margin: 10px;
    text-align: center;
}

.cliente .dadosCliente {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 30px
}

.dadosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dadosCliente img {
    width: 80px;
    height: auto;
}

.dadosCliente .nome {
    font-size: 18px;
    color: black;
}

.dadosCliente .tipoOs {
    font-size: 14px;
    color: black;
}

.dadosCliente .cto {
    font-size: 14px;
    color: black;
}

.dadosCliente .ppoe {
    font-size: 14px;
    color: black;
}

.direita .servicoRealizado {
    width: 470px;
    height: 310px;
    background-color: #FFF;
    border-radius: 10px;
    filter: drop-shadow(1px 5px 5px rgb(36, 36, 36));
    border: 1px solid #C1C1C1;
}

.servicoRealizado hr {
    border: 1px solid #BE1A2B;
    width: 90%;
}

.servico {
    width: 470px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.servicoTitulo {
    font-size: 24px;
    color: #6F6F6F;
    padding: 10px 20px;
}

.servicoTexto {
    font-size: 16px;
    padding: 10px 10px;
}

.obs {
    width: 470px;
    height: 150px;
    display: flex;
    flex-direction: column;
}